# Dev artifacts
node_modules/
dist/
.git/
.github/
*.log
*.tmp

# Test / local files
.env
.env.local
.env.*.local
coverage/
.nyc_output/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
